* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #FF7640;
	font-family: 'Alata', sans-serif;
	text-align: center;
}
.nav-logo {
	color: white;
	letter-spacing: 5px;
	font-size: 22px
}
.nav-links {
	display: flex;
	justify-content: space-around;
	width: 35%;
}
.nav-links li {
	list-style: none; 
}
.nav-links a {
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: bold;

}
.nav-links a:hover {
	color: #A9EEC2;
	transition: all 0.2s ease-in-out
}
.mobile-menu {
	display: none;
	cursor:pointer;
}
.mobile-menu div{
	width:25px;
	height:3px;
	background-color:white;
	margin:5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
	.nav-links {
	width: 45%;
	}
}
@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
	.nav-links {
		position: absolute;
		right: 0px; 
		height: 92vh;
		top: 8vh;
		background-color: #FF7640;
		display: flex;
		flex-direction: column;
		align-items: center;
		width:50%;
		transform: translateX(100%);
		transition:  transform 0.5s ease-in
	}
	.nav-links li {
		opacity: 0 
	}
	.mobile-menu {
		display: block
	}
}
.nav-active {
	transform: translateX(0%);
}
@keyframes navLinkFade{
	from {
		opacity: 0;
		transform: translateX(50px);
	} to {
		opacity: 1;
		transform: translateX(0px);
	}
}
.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}
/* responsive nav bar, made after following a tutorial by@Dev Ed on yt */

.home-page-img {
	width: 100%;
	height: 500px;
	overflow: hidden;
	 background: url(../images/home-screen-img.jpg) repeat center center;
}
.home-page-img h2 {
	font-family: 'Lobster', cursive;
	color: white;
	font-size: 100px;
	letter-spacing: 2px;
	text-align: center;
	vertical-align: middle;
	line-height: 500px;
	user-select: none
}